*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: black;
}
.main_header{
    width: 100%;
    height: 105px;
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* 항상 윗쪽에 고정한다는 의미 */
    /* transition-duration: 0.5s; */
    /* => 제이쿼리 css로 움직임 시간값 적용
    => 기본 플러그인 활용 시 addClass, removeClass에서 적용 가능 */
}
.main_header.on{
    top:-105px;
}
/* => 제이쿼리 addClass, removeClass 활용 시 스타일 시트 우선순위 확인 필요 */
.wrap{
    width: 100%;
    overflow: hidden;
    padding-top: 105px;
}
.page{
    width: 100%;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
}
.main_page{
    height: calc(100vh - 105px);
    /* background-color: lightskyblue; */
}
.sec_page{
    height: calc(720px + 325px);
    /* background-color: thistle; */
}
.sec_page .page_title_1{
    opacity: 0;
    /* => 1 */
}
.sec_page .con_box{
    height: calc(100% - 325px);
    margin-top: 100px;
    /* => 0 */
}
.con_box{
    width: 50%;
    height: 100%;
}
.img_con{
    background-color: tomato;
}
.text_con{
    background-color: black;
    padding: 40px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    flex-wrap: wrap;
    /* 자식요소의 가로 크기값 설정 */
    align-content: center;
}
.con_title,.con_text{
    margin: 0;
}
.con_title{
    width: 100%;
    font-size: 26px;
    color: chartreuse;
}
.con_text{
    width: 100%;
    font-size: 18px;
    color: lightgray;
}
.page_title_1{
    width: 100%;
    height: 325px;
    /* background-color: steelblue; */
}
.page_title_1>h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 80px;
}
.page_title_1>p{
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}
.main_footer{
    height: 320px;
    background-color: rgb(0, 0, 0);
}

/* 첫번째 페이지 슬라이드 */
.mask_box{
    /* 기준 크기 => 가로 100% */
    overflow: hidden;
    position: relative;
}
.move_box{
    width: calc((660px * 4) + 60px);
    height: 100%;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.img_box{
    width: 660px;
    height: 100%;
    /* => 자식요소에게 % 단위 값 사용 시
    => 기준이 되는 부모에게 고정크기값 또는 인식되는 여역의 크기가 있어야 함 */
}

/* main_header 스타일 영역 */
.top_header,.bottom_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_header{
    height: 44px;
    background-color: black;
    color: white;
    padding: 10px 30px;
}
.bottom_header{
    height: 60px;
    padding: 0 30px;
}
.top_left,.top_right,.main_menu,.toggle_menu_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_left{

}
.top_right{

}
.main_logo{
    width: 100px;
}
.main_menu{
    height: 100%;
}
.top_menu{
    padding: 0px 15px;
    /* => 서로 다른 갯수의 텍스트에서도 동일한 여백값 지정 */
    font-weight: 800;
    position: relative;
    height: 100%;
    line-height: 60px;
}
.top_menu a{
    display: block;
}
.sub_menu{
    width: 200px;
    /* height: 100px; */
    height: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    position: absolute;
    top: 60px;
    /* => 기능으로 움직임이 들어가는 경우 */
    /* => 움직임이 완료되어 보여지는 영역으로 레이아웃을 설정함 */
    /* top:100px; */
    /* transition-duration: 0.5s; */
    /* opacity: 0; */
    padding-top: 50px;
    display: none;
}
/* .top_menu:hover .sub_menu{
    height: 100px;
    top: 50px;
    opacity: 1;
} */
/* => 마우스 올리는 영역을 css hover 자동 인식함 */
.on_height{
    height: 100px;
    padding-top: 0;
}
.toggle_menu_wrap{

}
.search_wrap{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: -200px;
    left: 0;
    z-index: 9999;
}
.close_but{
    width: 50px;
    height: 50px;
}
.toggle_box{
    width: 400px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 99999;
}
.search_box{
    width: 50px;
    height: 100%;
    /* background-color: aqua; */
}
.toggle_menu{
    width: 50px;
    height: 100%;
    /* background-color: yellow; */
}

/* 메뉴에 마우스를 올리면 밑줄 나오기 */
.top_menu::after{
    /* 선택한 객체에 가상의 객체를 삽입함
    => 가상 선택자로 삽입한 객체는 inline 형식 */
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    display: block;
    transition-duration: 0.5s;
    margin-top: -15px;
}
.top_menu:hover::after{
    width: 100%;
}